*~
/main/build*/
*kdev*
*.orig
*.pyc
CMakeLists.txt.user
.catkin_tools

WYSIWYD.config
WYSIWYD.creator
WYSIWYD.creator.user
WYSIWYD.files
WYSIWYD.includes

main/src/modules/perspectiveTaking/build
main/src/modules/perspectiveTaking/logs
main/src/modules/perspectiveTaking/devel
main/src/modules/samRelated/SAM/.idea/

main/src/modules/kinematicStructureLearning/matlabModuleKS/src/KinematicStructureCorrespondence/data/
main/src/modules/kinematicStructureLearning/matlabModuleKS/src/KinematicStructureCorrespondence/parfor_progress.txt
main/src/modules/kinematicStructureLearning/matlabModuleKS/src/KinematicStructureCorrespondence/result/

