<application>
	<name>Test of aware Touch</name>

	<module>
		<name>awareTouch</name>
		<parameters> --name awt1 --nameOPC OPC</parameters>
                <node>root</node>
		<tag>touchingObserver</tag>
	</module>

</application>
